.footer__links {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  margin-left: 48px;
}
@media (max-width: 768px) {
  .footer__links {
    margin-left: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
