.intro__text {
  max-width: 690px;
  min-height: 208px;
  color: white;
  margin-top: 40px;
  font-family: Inter Regular, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    /* font-size: 16px;
    line-height: 26px; */
    margin: auto;
    max-width: 288px;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  .intro__text {
    max-width: 90%;
  }
}
