@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);

.intro {
  padding-top: 92px;
  align-self: flex-start;
  padding-left: 150px;
}
@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
    align-self: center;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    align-self: auto;
  }
}
