.places__title_cover {
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  height: 152px;
  text-align: center;
  margin-top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .places__title_cover {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    height: 70px;
    margin: 0;
  }
}
