.website__link {
  font-family: Inter Regular, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: underline;
}

.website__link:hover {
  background-color: #2a2c2f;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
