.intro__title {
  font-family: Inter Bold, sans-serif;
  font-size: 54px;
  line-height: 58px;
  color: white;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    width: 392px;
    text-align: left;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 64px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    width: 288px;
  }
}
